*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* game section */

section{
    height: 100vh;
    background-color: rgb(82, 29, 29);
    font-family: sans-serif;
}

/* score for user and ai */ 

.score {
    color: white;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2{
    font-size: 25px;
}

.score p {
    text-align: center;
    font-size: 15px;
    padding: 8px;
}
/* intro screen before pressing start button */

.intro{
    color: white;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 1s ease;
}

.intro h1{
    font-size: 55px;
}

.intro button, .match button{
    width: 155px;
    height: 60px;
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    background-color: darkgreen;
    border-radius: 5px;
}

/* match screen after pressing start button */

.match{
    position: absolute;
    top: 30%;
    left: 28%;
    transform: translate(-50, -50);
    transition: opacity 1s ease 1s;
}

.winner{
    color: white;
    text-align: center;
    font-size: 60px;
}

.move, .options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    margin-left: 15px;
}


.user-move{
    transform: rotateY(180deg);
}

/* fades out intro screen when pressing start button */

div.fadeOut{
    opacity: 0;
    pointer-events: none;
}

/* fades in match screen */

div.fadeIn{
    opacity: 1;
    pointer-events: all;
}



/* for small screen sizes from 375px wide and down */

@media screen and (max-width:375px) {
.game {
    height: 812px;
    width: 375px;
}

h1 {
    text-align: center;
}

div.match {
    top: 15%;
    width: 375px;
    left: 0%;
    text-align: center;
}

.winner {
    text-align: center;
}

div.move {
    width: 72%;
    margin-left: 50px;
}

.user-move {
    width: 50%;
    margin: auto;
}

.ai-move {
    width: 50%;
    margin-right: 3px;
}

.options {
    width: 90%;
    margin-right: 2px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    
}

button {
    size: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
}

}