* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* game section */

section {
    height: 100vh;
    background-color: rgb(82, 29, 29);
    font-family: sans-serif;
}

/* rules page */

#rules-section {
    background-color: rgb(82, 29, 29);
    height: 100%;
}

.gamerules {
    margin-left: 380px;
}

.gamerulestext {
    margin-left: 760px;
    color: white;
}

.rules {
    color: green;
    background-color: white;
    height: 60px;
    width: 155px;
    font-size: 25px;
    border-radius: 5px;
    margin-left: 850px;
    margin-top: 15px;
    margin-bottom: 30px;
}

/* score for user and ai */

.score {
    color: white;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2 {
    font-size: 25px;
}

.score p {
    text-align: center;
    font-size: 15px;
    padding: 8px;
}

/* intro screen before pressing start button */

.intro {
    color: white;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 1s ease;
}

.intro h1 {
    font-size: 55px;
}

.intro button,
.match button {
    width: 155px;
    height: 60px;
    background: none;
    color: white;
    font-size: 25px;
    background-color: darkgreen;
    border-radius: 5px;
}

/* match screen after pressing start button */

.match {
    position: absolute;
    top: 30%;
    left: 28%;
    transition: opacity 1s ease 1s;
}

.winner {
    color: white;
    text-align: center;
    font-size: 60px;
}

.move,
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.options {
    margin-top: 50px;
}

button {
    margin-left: 15px;
}

.user-move {
    transform: rotateY(180deg);
}

/* fades out intro screen when pressing start button */

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

/* fades in match screen */

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

/* media queries */

/* for medium screen sizes from 950px wide and down */

@media screen and (max-width:950px) {

    .rules {
        margin-left: 400px;
    }

    div.fadeIn {
        right: 260px;
        margin-top: 10px;
    }

    .winner {
        font-size: 30px;
        margin-left: 160px;
    }

    .score {
        height: 5px;
    }

    .gamerulestext {
        margin-left: 350px;
        color: white;
    }

    .gamerules>img {
        width: 450px;
    }

    .gamerules {
        margin-left: 250px;
    }

    .match {
        width: 1px;
    }

    .user-move {
        margin-left: 425px;
    }

    .options {
        margin-left: 225px;
    }
}

/* for small screen sizes from 480px wide and down */

@media screen and (max-width:480px) {
    h1 {
        text-align: center;
    }

    .winner {
        margin-left: 85px;
        text-align: center;
        margin-top: 50px;
    }

    section {
        height: 900px;
    }

    .user-move {
        height: 160px;
        width: 280px;
        margin-left: 0px;
    }

    .ai-move {
        height: 160px;
        width: 280px;
    }

    .move {
        margin-left: 110px;
        margin-top: 80px;
    }

    .options {
        margin-left: 100px;
        margin-top: 100px;
    }

    .rules {
        margin-left: 60px;
    }

    .match {
        width: 1px;
        height: 1px;
    }

    .gamerules {
        margin-left: 20px;
    }

    .gamerulestext {
        margin-left: 130px;
        color: white;
    }

    .score {
        height: 60px;
    }

}

/* for small screen sizes from 375px wide and down */

@media screen and (max-width:375px) {

    .rules {
        margin-left: 120px;
    }

    .score {
        margin-top: 50px;
    }

    .options {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .move {
        margin-left: 420px;
        margin-top: 0px;
    }

    .winner {
        margin-left: 30px;
        margin-top: 50px;
    }

    .intro {
        margin-top: 100px;
    }

    .gamerules>img {
        width: 340px;
    }

    .gamerulestext {
        margin-left: 65px;
        color: white;
    }

    .match {
        width: 375px;
        left: -15px;
    }

    .user-move {
        width: 160px;
        height: 150px;
    }

    .ai-move {
        width: 160px;
        height: 150px;
        margin-right: 420px;
    }

    section {
        height: 900px;
    }
}